.backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
}

.backdrop_hidden {
  display: none;
}

.modal {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding: 36px 28px 76px 28px;
  background-color: #ffffff;
  transform: translateX(0);
  transition: transform 450ms ease;
}

.modal_transition {
  transform: translateX(-200%);
}

.sidebarList__title {
  position: relative;
  margin-top: 64px;
  margin-bottom: 29px;
  padding-left: 25px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197b3;

  &::before {
    content: "";
    position: absolute;
    left: -13px;
    top: -3px;
    width: 24px;
    height: 24px;
    background-image: url("../../../public/assets/images/dashboard-link-icon.svg");
  }
}
