.sidebar {
  background-color: #ffffff;
  padding: 36px 28px 76px 28px;
}

.sidebar__title {
  font-weight: 600;
  font-size: 26px;
  line-height: 39px;
  letter-spacing: 0.01em;
  padding-left: 37px;

  &::before {
    content: "";
    position: absolute;
    left: 50px;
    width: 37px;
    height: 37px;
    background-image: url("../../../public/assets/images/dashboard-icon.svg");
  }
}

.sidebar__title_vers {
  font-weight: 500;
  font-size: 10px;
  line-height: 15px;
  letter-spacing: -0.01em;
  color: #838383;
  padding-left: 4px;
}

.sidebarList__title {
  margin-top: 64px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197b3;
  padding-left: 49px;
  position: relative;
  margin-bottom: 29px;

  &::before {
    content: "";
    position: absolute;
    left: 11px;
    top: -3px;
    width: 24px;
    height: 24px;
    background-image: url("../../../public/assets/images/dashboard-link-icon.svg");
  }
}

.menu_button {
  position: relative;
  border: none;
  background-color: white;
  width: 24px;
  height: 24px;
  background-color: transparent;
  z-index: 2;
  margin-top: 48px;
  outline: none;

  @media screen and (min-width: 884px) {
    margin-right: 11px;
  }
}

.menu_button__close {
  width: 24px;
  height: 24px;
}
