.customers__search {
  position: absolute;
  top: 44px;
  right: 53px;
  &::before {
    content: url(../../../public/assets/images/search-icon.svg);
    position: absolute;
    top: 6px;
    left: 8px;
  }

  @media screen and (max-width: 884px) {
    position: relative;
    top: 0px;
    right: 0px;
  }
}

.customers__search_input {
  width: 216px;
  height: 38px;
  padding: 10px 10px 10px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.01em;
  background: #f9fbff;
  color: #b5b7c0;

  &::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  &::-moz-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  &:-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  &::-ms-input-placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.01em;
    color: #b5b7c0;
  }

  @media screen and (max-width: 400px) {
    width: 150px;
  }
}
