.sidebar__list {
  margin-bottom: 597px;

  @media screen and (max-width: 1279px) {
    margin-bottom: 50px;
  }
}

.sidebar__item {
  position: relative;
  height: 46px;
  padding: 11px 8px 11px 11px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: -0.01em;
  color: #9197b3;
  -webkit-transition: background-color 350ms ease;
  -o-transition: background-color 350ms ease;
  transition: background-color 350ms ease;

  &:hover,
  :focus {
    cursor: pointer;
    background-color: #5932ea;

    .sidebar__icon path {
      fill: #ffffff;
    }
    .sidebar__icon_income path {
      stroke: #ffffff;
    }

    .sidebar__link_text {
      color: #ffffff;
    }

    .sidebar__icon_arrow path {
      stroke: #ffffff;
    }
  }

  &:not(:last-child) {
    margin-bottom: 18px;
  }
}

.sidebar__item_active {
  border-radius: 8px;
  background-color: #5932ea;
}

.sidebar__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.sidebar__link_text {
  margin-left: 14px;
}

.sidebar__link_text_active {
  color: #ffffff;
}

.sidebar__link_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar__icon_arrow_active path {
  stroke: #ffffff;
}
