.sidebar__user {
  position: relative;
  min-height: 42px;
  padding-left: 42px;
}

.sidebar__user_name {
  padding-left: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.01em;

  &::before {
    content: url("../../../public/assets/images/user-avatar.jpg");
    position: absolute;
    left: 0px;
    top: -3px;
  }
}

.sidebar__user_position {
  padding-left: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #757575;
}
